@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffeedd;
  color: #05668d;
  line-height: 1.7;
}

pre {
  font-size: 2rem;
  font-family: inherit;
  width: 100%;
  white-space: pre-wrap;
  padding: 0 auto;
}

a {
  color: #14213d;
  transition: all 400ms ease;
}

a:hover {
  color: #05668d;
}

.center {
  margin: 0 auto;
}

header > h1 {
  color: #05668d;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.info {
  margin: 2rem 0;
}

span {
  color: #05668d;
}
.instructions {
  border: 5px solid #05668d;
  background-color: rgba(215, 202, 189, 0.7);
  border-radius: 25px;
  text-align: justify;
  padding: 1.2rem;
  margin: 0 25%;
}

main {
  margin-top: 2.5rem;
}

/* ===================
======================== 
    MEDIA QUERIES
    (SMALL DEVICES /
        PHONES)
======================== 
 =================== */

@media screen and (max-width: 600px) {
  video {
    width: 90%;
    height: 560;
  }

  .instructions {
    padding: 0.6rem;
    margin: 0 10%;
  }
}
